.services_container {
    max-width:350px;
    margin: 0 1rem 1rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.service_img {
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    border-radius: 20px;
    margin-bottom: 2rem;
}
.services_container > p {
    margin: auto;
}

#services_content {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 2rem auto;
    margin-bottom: 4rem;
}

.slide-container {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.slide-container > img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.face_container {
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
}
.face_img {
    max-width: 150px;
    height: auto;
    border-radius: 75px;
    margin: auto;
    margin-bottom: 2rem;
}
.face_container > p {
    margin: 0 auto;
}
.address_content {
    margin: 0 auto;
}
#main_text {
    margin: 6rem auto;
    width: 800px;
}
#slideshow_box {
    width:700px;
    height: 600px;
    margin: 4rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
#about_us_content {
    width: 70%;
    margin: auto;
    font-size: 17px;
    margin-bottom: 8rem;
}
#our_faces {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 6rem;
}

#contact_content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:50rem;
    margin: auto;
    margin-bottom: 3rem;
}
#contact_content {
    font-size: 1rem;
}



@media (max-width:1450px) {
    #services_content {
        flex-direction: column;
        justify-content: center;
    }
    .services_container {
        margin: auto;
        margin-bottom: 3rem;
    }
    .service_img {
        margin: 0;
        margin-bottom: 1rem;
    }
}

/*TABLET*/
@media (max-width:900px) {
    #main_text {
        width:85%;
    }
    #slideshow_box {
        width:500px;
        height: 400px;
    }
    .face_img {
        max-width: 100px;
        border-radius: 50px;
    }
    #our_faces {
        flex-direction: column;
    }
    .face_container {
        margin-bottom: 2rem;
    }

    #contact_content {
        width:95%;
    }
}

@media (max-width:700px) {
    #contact_content {
        flex-direction: column;
        width: 60%;
    }
    #contact_left {
        margin-bottom: 2rem;
        display: inline-block!important;
    }
    #contact_right {
        width: auto;
    }
}

/*PHONE*/
@media (max-width:600px) {
    .slide-container {
        width: 90%!important;
        padding: 0!important;
    }
    #slideshow_box {
        height: 300px;
        width: 300px;
    }
    #about_us_content {
        width: 85%;
    }
    .services_container {
        max-width:300px;
    }
    .service_img {
        max-width: 300px;
        max-height: 300px;
        border-radius: 20px;
    }
    #services_content > p {
        font-size: 1rem;
    }
    .address_content {
        margin: 0 auto;
    }
}
