.wrapper {
    margin-bottom: 5%
}

.footer-bar {
    width: 50%;
    margin: auto !important
}

.footer-bar-2 {
    width: 80%;
    margin: auto !important
}
.slide-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 700px;
    height: 700px;
}
.mySlides {
    margin: auto;
}
.parallax {
    /* The image used */
    background-image: url("../res/main_banner3.jpg");
  
    /* Set a specific height */
    min-height: 800px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;

    margin: auto;
    margin-top: 2%;
}

@media (max-width:800px) {
    .parallax {
        min-height: 300px;
    }
    .slide-container {
        width: 500px;
        height: 500px;
    }
}

@media (max-width:600px){
    .footer-mobile {
        text-align: center!important;
    }
    .footer-mobile img {
        float:none!important
    }
    .footer-bar {
        width: 80%
    }
    .footer-bar-2 {
        display: none;
    }
    .parallax {
        display: none;
    }

}
