.content_title > .h_line {
    width:40rem;
}

.project_wrapper {
    width: 70rem;
    margin: 4rem auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "t_left t_right"
        "b_left b_right";
    grid-gap: 50px;
}
.project_wrapper div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}
.project_t_left {
    justify-content: flex-start!important;
}
.project_wrapper img {
    display: inline-block;
    max-width: 100%;
    max-height: 35rem;
    width: auto;
    height: auto;
    margin: 0 auto;
}
.project_t_left {
    grid-area: t_left;
}
.project_t_right {
    grid-area: t_right;
}
.project_b_left {
    grid-area: b_left;
}
.project_b_right {
    grid-area: b_right;
}
.content img {
    box-shadow: 0 0 4rem 1px rgb(202, 202, 202);
}


@media (max-width:1200px) {
    .side, .side2 {
        display: none;
    }
    .content {
        width:100%;
    }
    .content > div {
        width:100%;
    }
    .grid_wrapper {
        grid-gap: 0;
    }
}


/* TABLET */
@media (max-width:900px) {
    .project_wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}


/* PHONE */
@media (max-width:600px) {

}