/* CLASSES */

/* LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-areas:
        "side content side2";
}

.side {
    grid-area: side;
}
.side2 {
    grid-area: side2;
}

.content {
    grid-area: content;
}

.title-item {
    margin:auto;
}




/* OTHER CLASSES */
.parallax_banner {
    /* The image used */
    background-image: url("../res/slideshow_1.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.h_line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    padding: 0;
    width:90%;
}



/* IDS */
#title {
    display: flex;
    width:35rem;
    margin: auto;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
#title_main {
    margin-top: 1rem;
    margin-bottom:1rem;
}
#banner-mobile {
    display: none;
}


/*TABLET*/
@media (max-width:900px) {
    .w3-button:hover {
        box-shadow: none!important;
        background-color: inherit!important;
    }
    #banner {
        display: none;
    }
    #banner-mobile {
        display: inline;
    }
    .grid_wrapper {
        grid-template-columns: 1fr 20fr 1fr;
    }
}

/*PHONE*/
@media (max-width:600px) {
    #banner-mobile {
        display: none;   
    }
    #title {
        width: 95%;
    }
    #title > h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
}
