/* CLASSES */

/* LAYOUT */
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(252, 252, 252);
}
.grid_wrapper {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr!important;
    grid-template-areas:
        "side content side2";
}

.side {
    grid-area: side;
}
.side2 {
    grid-area: side2;
}

.content {
    grid-area: content;
    margin:auto;
}

.title-item {
    margin:auto;
}

.services_container > img {
    max-width: 100%;
    height: auto;
    margin: auto;
}


#services_content {
    display: grid;
    width:85%;
    margin: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:  
        "landscape planning tree"
        "landscape_text planning_text tree_text";
    grid-column-gap: 5%;
}
#service_landscape {
    grid-area: landscape;
}
#service_planning {
    grid-area: planning;
}
#service_tree {
    grid-area: tree;
}
#landscape_text {
    grid-area: landscape_text;
}
#planning_text {
    grid-area: planning_text;
}
#tree_text {
    grid-area: tree_text;
}



/* OTHER CLASSES */
.parallax_banner {
    /* The image used */
    background-image: url("../res/slideshow_1.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 3rem;
}

.h_line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1rem auto;
    padding: 0;
    width:90%;
}
.slide-container {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}
.slide-container > img{
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: auto;
}

.content_title {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
}
.content_title > h1 {
    text-align: center;
}
.content_title > .h_line {
    width: 15rem;
    border-color: #aaa;
}
.address_content {
    margin: 0.5rem auto;
}


/* IDS */
#title {
    display: flex;
    width:35rem;
    margin: auto;
    flex-direction: column;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}
#title_main {
    margin-top: 1rem;
    margin-bottom:1rem;
}
#banner-mobile {
    display: none;
    margin-bottom: 3rem;
}
#main_content {
    text-align: justify;
    margin: auto;
    font-size: 1.3rem;
}
#main_text {
    margin:auto;
    width: 50%;
}
#slideshow_box {
    width:700px;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
}
#about_us_seperator {
    margin: auto;
    margin-bottom: 10rem;
}
#about_us_content {
    width: 70%;
    margin: auto;
}

#contact_content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "contact_left contact_right";
    width:70%;
    margin: auto;
    grid-gap: 20%;
}
#contact_left {
    grid-area: contact_left;
    width: auto;
}
#contact_right {
    grid-area: contact_right;
    width: auto;
}
#contact_content {
    font-size: 1rem;
}
#contact_seperator {
    margin: auto;
    height: 2rem;
}

/*TABLET*/
@media (max-width:900px) {
    .side {
        display: none;
    }
    .side2 {
        display: none;
    }
    .w3-button:hover {
        box-shadow: none!important;
        background-color: inherit!important;
    }
    #banner {
        display: none;
    }
    #banner-mobile {
        display: inline;
    }
    #main_content {
        font-size: 1.1rem;
    }
    #main_text {
        width:auto;
    }
    .grid_wrapper {
        display: flex;
        width:90%;
    }
    #main_text {
        width:85%;
    }
    #slideshow_box {
        width:500px;
        height: 400px;
    }
}

/*PHONE*/
@media (max-width:600px) {
    #banner-mobile {
        display: none;   
    }
    #main_content {
        width: 95%;
    }
    #title {
        width: 95%;
    }
    #about_us_content {
        width: 85%;
    }
    #title > h1 {
        font-size: 1.5rem;
        font-weight: bold;
    }
    .content_title > h1 {
        font-size: 1.7rem;
    }
    #services_content {
        grid-template-rows: min-content;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "landscape"
            "landscape_text"
            "planning"
            "planning_text"
            "tree"
            "tree_text";
    }
    #services_content > p {
        margin-bottom: 4rem;
    }
    .address_content {
        margin: 0 auto;
    }
    #contact_content {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "contact_left"
            "contact_right";
        grid-column-gap: 0;
        grid-row-gap: 2rem;
    }
}
